# Global 全局配置
site_analytics: 
hoster: <a href="https://github.io" target="_blank">Github Pages</a>
site_logo: /images/site_logo.webp
snow: false
click_animate_js: 'candy'
enable_dark: true
highlight_theme: night-eighties # 代码高亮主题（light | night | night-eighties | night-blue | night-bright）
cdn: false
check_update: true

# 自定义样式
customStyles:
  images: # 图片相关设置
    banner: /images/banner.webp # 站点横幅
    background: /images/bg.webp # 站点背景

# Index 首页配置
index:
  post_type: false
  read_count: false
  comment_count: false

# Top Menu 顶部导航栏配置 （具体格式请参照文档）
menu:
  index: /
  archives: /archives/
  sites:
    submenu: true
    qust: /qust/
    seach: /search/
  friends: /friends/
  TestLab:
    submenu: true
    AriaNg: http://ariang.nekopara.net
    FC: https://zong-my.sharepoint.com/:f:/g/personal/neko_nekopara_net/Eh3nr7Co-y5JrZFdW3AiZwcBCPA5okTFcigLCRl7NZFP1A
    DD: http://dev.kanotype.net:8003/deepdanbooru/
  EveryDayPic: /everydaypic/
  about: /about/

label:
  index: <i class="fa fa-home"></i>首页
  archives: <i class="fa fa-archive"></i>档案馆
  sites: 
    submenu: <i class="fa fa-link"></i>链接
    seach: 查找
    qust: Address of QUST
  friends: <i class="fa fa-mars"></i>好朋友们
  TestLab:
    submenu: <i class="fa fa-flask"></i>实验室
    AriaNg: <i class="fa fa-angle-double-down"></i>AriaNg
    FC: <i class="fa fa-file-o"></i>文件收集
    DD: 二次元图片识别
  EveryDayPic: <i class="fa fa-picture-o"></i>每日图片
  about: <i class="fa fa-paper-plane"></i>关于

# Footer 页脚配置
group_link: 
contact:
  weibo: 
  mail: neko@nekopara.net
  telegram: TsumugiWenders
  twitter: Tsumugi_HG
  facebook: 
  linkedin: 
  fediverse:
    instance: 
    username: 
  github: TsumugiWenders
  rss:
timenotice: 本站已运行
icp: 
psr:
  
# Post Page 文章页配置
posts:
  show_cc: true
  donate: false
  share: true
  comments: waline

# Disqus [Disqus](https://disqus.com) 评论相关
disqus:
  shortname: 

# DisqusJS [DisqusJS](https://disqusjs.skk.moe/) 评论相关
disqusjs:
  shortname: 
  sitename: 
  api: 
  apikey: 
  admin: 
  adminlabel: 

# Valine [Valine](https://valine.js.org) 评论相关
valine:
  app_id: 
  app_key: 
  visitor: 

# Twikoo [Twikoo](https://twikoo.js.org) 评论相关
twikoo:
  env_id: 

# Waline [Waline](https://waline.js.org) 评论相关
## 不仅限于以下内容，您可以参照 Waline的 [前端配置文档](https://waline.js.org/client/basic.html) 设置您需要的配置项
## el 和 path 会在页面自动生成，不必加入
waline:
  serverURL: https://blog-api-mocha.vercel.app
  visitor: true

# APlayer 左下角音乐播放器
aplayer:
  enabled: true
  playlist: 
  meting:
    server: netease
    type: playlist
    id: 6724652045
  order: random

# Widgets 侧边栏小挂件
sidebar: right
widgets:
- about
- splitter
- toc
- category
- tagcloud
- posts
avatarUri: /images/logo.webp
mobile_toc: 
  hide: false
  hide_id: false

# Fancybox 文章内图片单击放大
fancybox: true

# Search 搜索
search:
  enable: true
  path: search.json
  field: all # page | post | all. Default post
  content: true # Include post | page content

# JavaScript 相关配置
## 由于Javascript被压缩后难以有效编辑与生成，因而为了简化操作，将相关的配置项在生成文件时以独立的json文件写出，调用时使用fetch API获取。
jsconfig:
  main:
    pic:
      CDN: true # 表示使用 CDN 加载图片
      random_amount: 20 # 表示从1~20
      filename: "images/thumb/thumb_{no}.webp" # 相对于主题根目录，表示文件名的格式, {no} 用以指代随机的编号。
                                              # 如果包含 // 表示使用指定域名的绝对路径（例如第三方图床服务等），那么会忽略 CDN 选项
    createTime: "2018/05/06 17:03:12"
    donateBtn: "支持我~"
    scanNotice: "扫一扫，好不好？"
    qr_alipay: "/images/alipayqr.webp"
    qr_wechat: "/images/wechatpayqr.webp"
    siteLeaveEvent: false
    leaveTitle: "{{{(>_<)}}}哦哟，崩溃啦~"
    returnTitle: "(*´∇｀*)欸，又好啦~"
    copyrightNotice: "该内容采用 CC BY-NC-SA 4.0 许可协议，著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。"
    expire_day: 30
    topNavScrollToggle: true

# Site verify 站点验证相关配置内容
site_verify:
  google: yIZU7ISNE4Y9KCNkxep-pBUYT5MW-_FP-sERISh3qpU
  baidu: 
  bing: C258629E6197B3E5F1664527F17242D4 

# Friends 友链相关内容
#friends:
#  href: "friends"
#  page:
#    title: "好伙伴们"
#    comments: false
#    description: "好伙伴们在哪里~"
#    updated: "2021-01-18"
#  list:
#  - name: "猫猫①号"
#    bio: "喵~"
#    avatar: "../images/avatar.webp"
#    link: "#"
#  verify: true # 验证每个友链的可访问性，炸了会有提示
